#top #concept {
    padding: 100px 0 150px;
    position: relative;
    display: flex;
    justify-content: center;
}

#top #concept .inner {
    width: 76%;
    max-width: 912px;
    position: relative;
}

#top #concept .inner .desc {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.8;
    position: relative;
    z-index: 15;
}

#top #concept .inner h2 {
    font-weight: bold;
    font-size: 26px;
    position: relative;
    margin-bottom: 50px;
    color: #c68642;
}

.conteiner-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.category-top {
    font-size: x-large;
    font-weight: bold;
    background-color: #8d5524;
    width: 200px;
    text-align: center;
    color: #fcdaaa;
    margin: 0 auto;
}


.banner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner .slides {
    display: flex;
    transition: transform 0.5s ease;
}

.banner .slide {
    min-width: 100%;
    transition: opacity 0.5s;
}

.banner .controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.banner .controls button {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 16px;
    cursor: pointer;
    font-size: 18px;
}

.banner .indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.banner .indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background: #fff;
    opacity: 0.5;
    cursor: pointer;
}

.banner .indicators button.active {
    opacity: 1;
}


/* タブレット対応 */
@media screen and (max-width: 999px) {

    #top #concept {
        padding: 50px 0;
    }

    #top #concept .inner {
        width: 80%;
    }

    #top #concept .inner .desc {
        font-size: 14px;
    }

    #top #concept .inner h2 {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .banner .controls button {
        background: rgb(0 0 0 / 20%);
        padding: 10px;
        font-size: 14px;
    }

    .image-container {
        width: 60%;
    }


    .category-top {
        font-size: 18px;
        width: 100px;
    }

    .category-image {
        width: 100%;
    }

}